@import url('https://fonts.googleapis.com/css2?family=Roboto+Slab:wght@400;500;600;700;800;900&display=swap');

:root{
    --white: #f9f9f9;
    --black: #36383F;
    --gray: #85888C;
    --red: #f44336;
    --green: #4caf50;
    --orange: #ff9800;
    --blue: #2196f3;
}

body {
    margin: 0;
    padding: 0;
    font-family: 'Roboto Slab', Arial, Helvetica, sans-serif;
    /* font-weight: 500; */
    color: var(--black);
    font-size: 15px;
    box-sizing: border-box; 

}
.header {
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    max-width: 100%;
    background-color: #1f2532;
    color: #fff;
    padding: 10px 20px;
    display: flex;
    align-items: center;
    justify-content: space-between;
    z-index: 999;
    box-shadow: 1px 1px 5px 0px var(--gray);
}
.header h1 {
    margin: 10px;
    cursor: pointer;
    font-size: 36px;
}
.header ul {
    list-style: none;
    margin: 0;
    padding: 0;
    display: flex;

}
.header #last{
    margin-right: 30px;
}
.header li {
    margin: 0px 5px;
    cursor: pointer;
    color: #fff;
    padding: 20px;
    transition: background-color 0.3s ease;
    font-size: 16px;

}
.header li:hover {
    background-color: #4c5155;
}
.header li.active {
    text-decoration: underline 2px solid;
    text-underline-offset: 15px;
    font-weight: bold;
}
.menu-toggle {
    display: none;
}

@media (max-width: 768px) {
    .header {
        z-index: 1;
        
    }
    .menu-toggle {
        display: block;
        cursor: pointer;
        font-size: 30px;
        margin-right: 40px;
    }
    .header ul {
        display: none;
        flex-direction: column;
        position: fixed;
        top: 70px;
        left: 0;
        width: 100%;
        height: calc(100% - 70px);
        background-color: #e6f2ff;
        padding-top: 20px;
    }
    .header li{
        transition: background-color 0.3s ease;
        color: var(--black)
    }
    .header li:hover {
        background-color: #c1cbd6;
    }
    .header li.active {
        text-decoration: underline 2px solid;
        text-underline-offset: 15px;
        font-weight: bold;
    }
    .show-menu ul {
        display:flex
    }
}

.hero {
    background: wheat;
    padding: 50px;    
}
@media (max-width:600px) {
    .hero {
        height: 110vh;
    }
}
@media (max-width:498x) {
    .hero {
        height: 65vh;
    }
}   

.hero-content {
    display: flex;
    flex-wrap: wrap;
    /* flex-direction: column; */
    align-items: center;
    justify-content: center;
    margin-top: 100px;
}
.hero-text {
    flex: 1;
    padding-right: 20px;
    padding-left: 20px;
    /* padding: 0 50px; */
}
.hero-image {
    flex: 1;
    display: flex;
    align-items: center;
    justify-content: flex-end;
}
.hero-text h1{
    color: #333;
    font-size: 5vw;
    margin-bottom: 10px;
}
.hero-image p{
    color: #333;
    font-size: 1.5vw;
}
svg{
    max-width: 100%;
    height: auto;
    width:100%;
}

@media screen and (max-width: 900px) {
    img{
        max-width:130%;
        /* height: auto;*/
    
    }
    
}

@media screen and (max-width: 900px) {
    .hero-content {
        flex-direction: column;
        align-items: center;
    }
    .hero-text {
        padding-right: 0;
        padding-left: 0;
        padding-bottom: 20px;
        text-align: center;
    }
    img{
        max-width: auto;
        height: auto;
    }
    .hero-text h1{
        font-size: 10vw;
    }
    .hero-text p{
        font-size: 2.5vw;
    }

    /* .image {
        padding: 0;
        margin-top: 20px;
    }     */
}
.graphs {
  background: #fff;
  padding: 50px;
}

.section-content {
  display: flex;
  flex-wrap: wrap;
}

.left-half {
  flex: 1;
  display: flex;
}

.left-left
{
  flex: 1;
  display: flex;
  flex-direction: column;
  align-items: center;
  padding-top: 50px;
  padding-right: 0px;
  padding-left: 0px;
}
.left-right {
  flex: 1;
  display: flex;
  flex-direction: column;
  align-items: center;
  padding-bottom: 50px;
  padding-left: 0px;
}
.tile {
  background: blue;
  padding-left: 1vw;
  padding-right: 1vw;
  padding: 0px;
  margin: 20px;
  text-align: center;
  height: 30vh;
  width: 20vw;
}

.tile img {
  width: 100px;
  height: 100px;
  object-fit: cover;
  margin-bottom: 10px;
}

.right-half {
  flex: 1;
  padding-left: 50px;
  align-items: right;
}

.right-half h1{
    color: #333;
    font-size: 5vw;
    margin-bottom: 10px;
    text-align: right;
}

.right-half p{
    color: #333;
    font-size: 1.5vw;
    text-align: right;
}

.button {
  /* display: inline-block; */
  background-color: #4caf50;
  color: white;
  padding: 10px 20px;
  border: none;
  border-radius: 5px;
  font-size: 16px;
  cursor: pointer;
  text-align: center;
  text-decoration: none;
  transition: background-color 0.3s ease;
  margin-top: 10px;
  float: right;
}
.button {
  display: block;
  padding: 10px 20px;
  background-color: #2196f3;
  color: #fff;
  text-decoration: none;
  font-size: 16px;
  border-radius: 4px;
  margin-left: auto;
  text-align: right;
}

.button:hover {
  background-color: #4caf50;
}

@media screen and (max-width: 768px) {
  .section-content {
    flex-direction: column;
  }
  .left-right{
    padding-bottom: 0px;
  }
  .left-half,
  .right-half {
    padding: 0;
  }

  .left-left,
  .left-right {
    margin-bottom: 30px;
  }

  .right-half {
    text-align: center;
  }
}

/* Branch Predictor Section Styles */
.branch-predictor {
    background: wheat;
    padding: 50px;
}


.contact {
    background: #fff;
    padding: 50px;
  }
  
  .contact-grid {
    display: flex;
    justify-content: space-between;
  }
  
  .contact-tile {
    flex: 1;
    background: #f2f2f2;
    padding: 20px;
    text-align: center;
    margin: 2vw;
  }
  
  .contact-tile img {
    width: 100px;
    height: 100px;
    object-fit: cover;
    /* border-radius: 50%; */
    margin-bottom: 10px;
  }
  
  .contact-tile h3 {
    margin-bottom: 10px;
  }
  
  .contact-icons {
    display: flex;
    justify-content: center;
  }
  
  .contact-icons a {
    display: inline-block;
    margin: 0 5px;
  }
  
  .contact-icons img {
    width: 30px;
    height: 30px;
  }
  
footer {
    background: #333;
    color: #fff;
    padding: 20px;
    text-align: center;
}

/* Dropdown boxes */
.container {
    display: flex;
    flex-wrap: wrap;
    margin-top: 100px;
  }
  
  .dropdown {
    position: relative;
    display: inline-block;
    margin: 10px;
  }
  
  .dropdown-box {
    display: inline-flex;
    align-items: center;
    padding: 6px 10px;
    /*border: 1px solid #ddd;*/
  }
  
  .dropdown-menu {
    display: none;
    position: right;
    background-color: #f9f9f9;
    min-width: 160px;
    border: 1px solid #ddd;
    overflow-y: auto;
    max-height: 150px;
    z-index: 1;
  }

  input[type=text]{
    cursor: pointer;
    padding: 8px;

    
  }
  
  .dropdown-menu.show {
    display: block;
  }
  
  .dropdown-menu a {
    color: #333;
    padding: 8px 12px;
    text-decoration: none;
    display: block;
    cursor: pointer;
  }
  
  .dropdown-menu a:hover {
    background-color: #ddd;
  }
  
  .dropdown-menu a.selected {
    background-color: #4CAF50;
    color: #fff;
  }
  
  /*
  .dropdown-arrow {
    margin-left: 118px;
  }*/
  
  @media (max-width: 768px) {
    .container {
      flex-direction: column;
    }
    
    .dropdown {
      margin: 10px auto;
    }
  }

  